# Test Robin

In [2]:
import pandas as pd
import os
import gzip
import json
import pickle
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sn
import requests
import datetime
from scipy import stats

In [3]:
data_path = "data/"

In [4]:
df_topics = pd.read_csv(data_path + "topics_linked.csv")

In [5]:
df_topics.head()

,index,Geography.Regions.Asia.Central Asia,Geography.Regions.Europe.Eastern Europe,History and Society.Military and warfare,Culture.Media.Television,History and Society.Education,Culture.Media.Books,Geography.Regions.Africa.Africa*,Culture.Visual arts.Architecture,Culture.Biography.Women,...,Geography.Regions.Asia.West Asia,STEM.Chemistry,Geography.Regions.Europe.Northern Europe,Culture.Media.Video games,Geography.Regions.Asia.Southeast Asia,Culture.Media.Entertainment,Culture.Media.Music,Geography.Regions.Asia.Asia*,Geography.Regions.Asia.North Asia,qid
0,Rosmalen,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,Q2001490
1,Commelinales,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,Q290349
2,Transport_in_Honduras,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,Q1130638
3,QuakeC,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,Q2122062
4,Food_writing,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,Q5465542

In [9]:
agg = load_aggregated("data/aggregated_timeseries.json.gz")

In [13]:
df_agg = pd.DataFrame.from_dict(agg)
df_agg.head()

,ja.m,it,da.m,tr,no.m,en,sr,tr.m,en.m,no,...,ko.m,fi.m,sr.m,ja,fr,fi,ca,it.m,sv.m,ko
len,1197788,1594039,256451,346007,516838,6047509,632128,345790,6045654,531478,...,489181,480638,396063,1197856,2195949,481854,642031,1588312,1959446,490314
sum,2018-01-01 22328288 2018-01-02 22278953 ...,2018-01-01 3338750 2018-01-02 5428428 20...,2018-01-01 765123 2018-01-02 443384 2018...,2018-01-01 407629 2018-01-02 426791 2018...,2018-01-01 715031 2018-01-02 536506 2018...,2018-01-01 86763830 2018-01-02 11224534...,2018-01-01 192409 2018-01-02 253653 2018...,2018-01-01 493684 2018-01-02 483443 20...,2018-01-01 135822131 2018-01-02 12708735...,2018-01-01 224417 2018-01-02 374771 2018...,...,2018-01-01 1484496 2018-01-02 1248031 20...,2018-01-01 1319053 2018-01-02 1094280 20...,2018-01-01 451383 2018-01-02 462824 2018...,2018-01-01 7828155 2018-01-02 8759385 ...,2018-01-01 6441009 2018-01-02 9079323 ...,2018-01-01 523135 2018-01-02 648344 2018...,2018-01-01 111910 2018-01-02 198405 2018...,2018-01-01 12856884 2018-01-02 12887390 ...,2018-01-01 2383474 2018-01-02 1873096 20...,2018-01-01 819174 2018-01-02 959239 20...
covid,"{'len': 30, 'sum': [55, 55, 51, 46, 70, 77, 73...","{'len': 33, 'sum': [50, 103, 130, 112, 119, 75...","{'len': 4, 'sum': [0, 2, 1, 0, 0, 2, 0, 1, 5, ...","{'len': 64, 'sum': [1, 3, 6, 1, 0, 4, 1, 13, 6...","{'len': 10, 'sum': [7, 5, 2, 2, 2, 0, 3, 2, 7,...","{'len': 306, 'sum': [575, 1081, 1265, 1167, 10...","{'len': 9, 'sum': [6, 13, 11, 6, 13, 6, 11, 9,...","{'len': 64, 'sum': [3, 2, 2, 9, 2, 2, 1, 4, 6,...","{'len': 306, 'sum': [911, 1006, 919, 1026, 978...","{'len': 10, 'sum': [2, 4, 3, 1, 4, 0, 1, 5, 5,...",...,"{'len': 113, 'sum': [6, 5, 8, 8, 10, 2, 7, 7, ...","{'len': 9, 'sum': [0, 0, 8, 0, 0, 2, 0, 3, 1, ...","{'len': 9, 'sum': [11, 20, 15, 30, 33, 17, 31,...","{'len': 30, 'sum': [26, 42, 53, 114, 134, 54, ...","{'len': 16, 'sum': [62, 91, 109, 107, 113, 81,...","{'len': 9, 'sum': [2, 2, 2, 3, 0, 3, 2, 0, 2, ...","{'len': 49, 'sum': [6, 6, 9, 10, 4, 7, 15, 13,...","{'len': 33, 'sum': [139, 187, 162, 180, 127, 1...","{'len': 8, 'sum': [19, 12, 13, 14, 11, 15, 12,...","{'len': 113, 'sum': [3, 20, 20, 16, 20, 8, 1, ..."
topics,{'Culture.Biography.Biography*': {'len': 14904...,{'Culture.Biography.Biography*': {'len': 29427...,{'Culture.Biography.Biography*': {'len': 57720...,{'Culture.Biography.Biography*': {'len': 70443...,{'Culture.Biography.Biography*': {'len': 11603...,{'Culture.Biography.Biography*': {'len': 14038...,{'Culture.Biography.Biography*': {'len': 37718...,{'Culture.Biography.Biography*': {'len': 70434...,{'Culture.Biography.Biography*': {'len': 14038...,{'Culture.Biography.Biography*': {'len': 11804...,...,{'Culture.Biography.Biography*': {'len': 75406...,{'Culture.Biography.Biography*': {'len': 10422...,{'Culture.Biography.Biography*': {'len': 37580...,{'Culture.Biography.Biography*': {'len': 14904...,{'Culture.Biography.Biography*': {'len': 38258...,{'Culture.Biography.Biography*': {'len': 10444...,{'Culture.Biography.Biography*': {'len': 10175...,{'Culture.Biography.Biography*': {'len': 29422...,{'Culture.Biography.Biography*': {'len': 14668...,{'Culture.Biography.Biography*': {'len': 75498...

In [14]:
codes_order = ["sr", "it", "fr", "en", "nl", "ko", "de", "fi", "ja", "no", "sv", "da"]

Index(['ja.m', 'it', 'da.m', 'tr', 'no.m', 'en', 'sr', 'tr.m', 'en.m', 'no',
       'sv', 'nl.m', 'nl', 'da', 'de', 'fr.m', 'ca.m', 'de.m', 'ko.m', 'fi.m',
       'sr.m', 'ja', 'fr', 'fi', 'ca', 'it.m', 'sv.m', 'ko'],
      dtype='object')