# Test Carl

In [1]:
#imports (too many, but alright for testing)
import pandas as pd
import os
import gzip
import json
import pickle
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sn
import requests
import datetime
from scipy import stats
from load_helper_CoronaWiki import *

In [7]:
url = 'https://wikimedia.org/api/rest_v1/metrics/pageviews/per-article/en.wikipedia.org/all-access/user/Paris/daily/20200101/20200701'
header = {'User-Agent' : 'Carl Piening (academic project; carl.piening@epfl.ch; https://github.com/epfl-ada/ada-2022-project-thedatadiggers22)'}
r = requests.get(url, headers = header)

In [8]:
# Serializing json
json_object = json.dumps(r.json(), indent =1)
 
# Writing to sample.json
with open("paris.json", "w") as outfile:
    outfile.write(json_object)

In [12]:
df1 = pd.json_normalize(json.load(open('paris.json')), record_path = ['items']).set_index(['timestamp', 'article']).drop(labels = ['project', 'granularity'
, 'access', 'agent'], axis = 1)
df2 = pd.json_normalize(json.load(open('berlin.json')), record_path = ['items']).set_index(['timestamp', 'article']).drop(labels = ['project', 'granularity'
, 'access', 'agent'], axis = 1)

In [18]:
df_final = pd.concat([df1,df2])

In [19]:
df_final

                    views
timestamp  article
2020010100 Paris     7057
2020010200 Paris     6462
2020010300 Paris     6090
2020010400 Paris     5906
2020010500 Paris     5852
...                   ...
2020062700 Berlin    3440
2020062800 Berlin    3418
2020062900 Berlin    3474
2020063000 Berlin    3197
2020070100 Berlin    3256

[366 rows x 1 columns]

In [ ]:
df_berlin
new_df = df_Berlin.set_index(['timestamp']).drop(labels = ['project', 'granularity'
                                                , 'access', 'agent'], axis = 1)

In [ ]:
df = pd.json_normalize(r.json(), record_path = ['items'])
#Create new df, named after article title
locals()['df_'+df['article'][0].lower()] = df.set_index(['timestamp']).drop(labels = ['project', 'granularity'
, 'access', 'agent'], axis = 1)

In [ ]:
df_berlin

In [20]:
def json_to_df(json_obj, return_df):
    #Create df from json with nested list
    df = pd.json_normalize(json_obj, record_path = ['items']).set_index(['timestamp', 'article']).drop(labels = ['project', 'granularity'
    , 'access', 'agent'], axis = 1)
    return_df = pd.concat(return_df,df)
    return return_df

In [6]:
df_paris =

NameError: name 'df_berlin' is not defined

## Data pipeline

In [41]:
'''
Function to be used within data fetching script
Inputs : 
    - json_obj : dict that was fetched in the given iteration of the script
    - return_df : final df that will be return at the end of the script
Output : concatenated df
'''
def json_to_df(json_obj, return_df):
    #Create df from json with nested list
    df = pd.json_normalize(json_obj, record_path = ['items']).set_index(['timestamp', 'article']).drop(labels = ['project', 'granularity'
    , 'access', 'agent'], axis = 1)
    #concatenation
    return  pd.concat([return_df, df])

### Testing

In [42]:
titles = ['Berlin', 'Paris', 'London', 'Tokyo', 'Geneva']
return_df = pd.DataFrame()
for name in titles :
    url = 'https://wikimedia.org/api/rest_v1/metrics/pageviews/per-article/en.wikipedia.org/all-access/user/'+name+'/daily/20200101/20200701'
    header = {'User-Agent' : 'Carl Piening (academic project; carl.piening@epfl.ch; https://github.com/epfl-ada/ada-2022-project-thedatadiggers22)'}
    r = requests.get(url, headers = header)
    return_df = json_to_df(r.json(), return_df)

ping1
ping2
ping1
ping2
ping1
ping2
ping1
ping2
ping1
ping2

In [49]:
test_df = return_df.groupby(['timestamp'])['views'].sum().to_frame()

In [50]:
test_df

            views
timestamp
2020010100  28645
2020010200  30662
2020010300  29209
2020010400  28947
2020010500  29566
...           ...
2020062700  21188
2020062800  22734
2020062900  22839
2020063000  21568
2020070100  21392

[183 rows x 1 columns]